streamlit>=1.32.0
pandas
numpy
scikit-learn
plotly
bcrypt
python-dotenv
supabase
groq
fpdf2
faker
extra-streamlit-components
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
